---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

header {
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    background: unset;
}

header h1 {
    margin: 0;
}

footer {
  display: none !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 1.125em;
  margin-bottom: 5em;
}

header h1 {
  font-family: "Exo 2", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", sans-serif;
}

code {
    font-family: "Exo 2", sans-serif;
}

pre code {
    font-family: "Exo 2", sans-serif;
    font-size: 1.125em;
}

.btn {
  display: none !important;
}

#a-title h1 {
    margin: 0;
}
