---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

header {
    border: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    background: unset;
}

header h1 {
    margin: 0;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.125em;
  margin-bottom: 5rem;
}

header h1 {
  font-family: "Manrope", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
}
